{% extends 'base.html' %}

{% load static %}

{% block title %}LOFOO(Local Food){% endblock %}

{% block extra-style %}
<style type="text/css">
.home-image {
    background-image: url("{% static 'img/Main.jpg' %}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    padding: 20px 0 0 20px;
}
.title {
    color: rgb(0, 204, 10);
    font-weight: bold;
}
.powered {
    position: relative;
    top: 77%;
    color: rgb(0, 204, 10);
    font-style: italic;
}
</style>
{% endblock %}

{% block content %}
    <div class="home-image">
        <h2 class="title">LOFOO(Local Food)</h2>
        <h4 class="powered"><i class="fas fa-arrow-circle-right"></i>For Healthy Life</h4>
    </div>

    <hr style="margin: 10px 0;">

    <div class="row text-center">
        <div class="col-sm-6">
            <h3>Sell App</h3>
            <p>This application is sales bulletin board for local food.between customers and customers.
                The sales is B2C or C2C or B2B, everything is possible.
                But the important point is that the merchandises in that application is based on the user's location.
                You can sell your merchandises and buy merchandises by Sell application.
                It's also possible to update or delete your merchandises.</p>
        </div>
        <div class="col-sm-6">
            <h3>Chat App</h3>
            <p></p>
        </div>
    </div>
{% endblock content %}

{% block footer %}
<footer class="fixed-bottom bg-info">
    <div class="text-white font-italic text-right mr-5">Copyright &copy; 2019 DjangoBook by shkim // + 2020 Yongju Seong</div>
</footer>
{% endblock %}

