{% extends "base.html" %}

{% block title %}Sell_Merchandise_detail{% endblock %}

{% block content %}
    
    <div class="row"> 
        <div class="col-md-9">
            <a href="{{ object.image.url }}">
                <img src="{{ object.image.url }}" style="width: 100%;">
            </a>
        </div>
    
        <ul class="col-md-3 mt-3">
            <br><br>
            <li class="h1">{{object.title}}</li>
            <br>
            <li class="h4">{{object.brand}}</li>
            <br>
            <li class="h4">Rating : {{object.rating}}</li>
            <hr>
            <li class="h4">Price : ${{object.price}}</li>
            <hr>
            <li class="h3">About this item</li>
                {% if object.description %}<p>{{ object.description|linebreaks }}</p>
                {% else %}<p>(blank)</p>{% endif %}
        </ul>
    </div>
{% endblock %}